<h1>Mi Primera pagina</h1>
<img src="https://schnitzel-und-schminke.de/wp-content/uploads/2018/10/Wandern-Trekking-2-1400x860.jpg" alt="trekking logo">
  <h2>aqui vamos a enviar mi primera pagina a la web</h2>
    <p>vamos a mostrar algunas cosas en espanol</p>
    <body>
        introduccion
    </body>
